Library/
Temp/
Obj/
Logs/
Xcode/
Builds/
Resources/
Screenshots/
build/
AssetBundles/
Assets/Firebase/
Assets/Firebase/
.vs/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.booproj
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_0_1.bundle
